.md_link_card {
  display: block;
  padding: 10px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--md-editor-border-color);
  background: #f5f7fa;
  transition: border 0.3s;
  max-width: 640px;
  @media (any-hover: hover) {
    &:hover {
      border: 1px solid var(--md-editor-border-color-active);
    }
  }
  span {
    color: var(--md-editor-text-color-active);
  }
  .md_link_img {
    height: 20px;
    margin-right: 12px;
    border-radius: 2px;
  }
  .md_link_title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .md_link_desc {
    font-size: 14px;
    line-height: 20px;
    color: var(--md-editor-text-color);
    margin: 6px 0;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .md_link_url {
    font-size: 13px;
    color: var(--md-editor-border-color-active);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.md_file_card {
  display: block;
  padding: 10px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--md-editor-border-color);
  background: #f5f7fa;
  transition: border 0.3s;
  max-width: 400px;
  margin: 4px 0;
  @media (any-hover: hover) {
    &:hover {
      border: 1px solid var(--md-editor-border-color-active);
    }
  }
  span {
    color: var(--md-editor-text-color-active);
  }
  .md_file_img {
    font-size: 34px;
    margin-right: 16px;
    color: var(--md-editor-border-color-active);
  }
  .md_file_download {
    font-size: 14px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--md-editor-border-color);
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s;
    line-height: 1 !important;
    color: var(--md-editor-border-color);
    @media (any-hover: hover) {
      &:hover {
        color: var(--md-editor-border-color-active);
      }
    }
  }
  .md_file_title {
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .md_file_desc {
    font-size: 12px;
    line-height: 20px;
    color: var(--md-editor-text-color);
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
