@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("font/iconfont.ttf?t=1626660749010") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baojiaquotation:before {
  content: "\e63a";
}

.icon-renwu:before {
  content: "\e63f";
}

.icon-bold:before {
  content: "\e678";
}

.icon-biaoge:before {
  content: "\e615";
}

.icon-lianjie:before {
  content: "\e645";
}

.icon-unorderedList:before {
  content: "\e620";
}

.icon-code:before {
  content: "\e625";
}

.icon-fullScreen:before {
  content: "\e627";
}

.icon-italic:before {
  content: "\eaef";
}

.icon-img:before {
  content: "\e7ed";
}

.icon-yinyong:before {
  content: "\e697";
}

.icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.icon-yulan:before {
  content: "\e668";
}

.icon-daimakuai:before {
  content: "\e6af";
}

.icon-yijibiaoti:before {
  content: "\e66e";
}

.icon-erjibiaoti:before {
  content: "\e66f";
}

.icon-shanchuxian:before {
  content: "\e7ae";
}

.icon-geshishua:before {
  content: "\e63d";
}

.icon-fengexian:before {
  content: "\e60a";
}

.icon-bianji:before {
  content: "\e604";
}

.icon-youxuliebiao:before {
  content: "\e7a3";
}

.icon-sanjibiaoti:before {
  content: "\e602";
}

.icon-guanbi:before {
  content: "\e692";
}

.icon-help:before {
  content: "\e641";
}

.icon-file:before {
  content: "\e6c0";
}

.icon-doc:before {
  content: "\e689";
}

.icon-xiazai:before {
  content: "\e6be";
}

.icon-video:before {
  content: "\e63c";
}
.icon-biaoti:before {
  content: "\e78a";
}

.icon-sijibiaoti:before {
  content: "\e603";
}

.icon-wujibiaoti:before {
  content: "\e675";
}

.icon-liujibiaoti:before {
  content: "\e676";
}

.icon-loading:before {
  content: "\e626";
}

.icon-kapian:before {
  content: "\e64c";
}
