:root {
  --md-editor-border-color: #dbdbdb;
  --md-editor-border-color-active: #409eff;
  --md-editor-text-color: #303030;
  --md-editor-text-color-active: #000;
  --md-editor-frame-bg-color: #fff;
  --md-editor-content-bg-color: #fff;
  --md-editor-code-bg-color: #f3f4f5;
}
